/* Main Div */
.welcomePart {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1675370161/metrica/fondoo_a5xb0n.jpg");
  background-size: cover;
}
/* content */
.content {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Portada */
.portada {
  margin: 10px 0px;
  display: flex;
  width: 80%;
}
.writing {
  width: 30%;
}
.image {
  text-align: center;
  width: 70%;
  animation: fadeInRight 1s ease-in-out;
}
.writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeInLeft 1s ease-in-out;
  width: 70%;
}
.body-writing {
  padding: 10px 0px;
  font-size: 20px;
  line-height: 2;
  width: 70%;
}
.title-writing {
  padding: 20px 0px;
}
.writing .title-writing h1 {
  font-family: "CustomFont2";
  font-size: 50px;
  color: rgb(62, 65, 62);
  letter-spacing: 10px;
  font-style: bold;
  font-variant: normal;
  font-weight: 1000;
}

/* Animations */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}
.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  bottom: -150px;
  left: 5%;
  animation: burbujas 3s linear infinite;
  z-index: 0;
}
.burbuja:nth-child(2) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  bottom: -150px;
  left: 50%;
  animation: burbujas 3s linear infinite;
  animation-delay: 2s;
  z-index: 0;
}
.burbuja:nth-child(3) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  bottom: -150px;
  left: 30%;
  animation: burbujas 1.5s linear infinite;
  z-index: 0;
  animation-delay: 1s;
}
.burbuja:nth-child(4) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  bottom: -150px;
  left: 65%;
  animation: burbujas 2.5s linear infinite;
  z-index: 0;
  animation-delay: 9s;
}
.burbuja:nth-child(5) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  bottom: -150px;
  left: 80%;
  animation: burbujas 5s linear infinite;
  z-index: 0;
  animation-delay: 4s;
}
/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/
@media (max-width: 1190px) {
  .portada {
    width: 100%;
  }
  .image {
    display: none;
  }
  .writing {
    padding-left: 20px;
    width: 90%;
    height: 100%;
  }
  .welcomePart {
    height: 100vh;
    width: 100%;
  }
  .body-writing {
    text-align: center;
    width: 100%;
  }
  .title-writing {
    text-align: center;
  }
  .writing .title-writing h1 {
    font-size: 25px;
  }
}
@media (max-width: 821px) and (min-height: 1179px) {
  .writing .title-writing h1 {
    font-size: 50px !important;
  }
  .body-writing {
    font-size: 25px;
  }
  .image {
    display: block;
    width: 100%;
  }
  .portada {
    flex-direction: column;
  }
  .content {
    padding-top: 40px;
  }
  .image img {
    width: 400px;
  }
  .ter,
  .cuart,
  .quin {
    display: none;
  }
  .burbuja:nth-child(3) {
    display: none;
  }
  .burbuja:nth-child(4) {
    display: none;
  }
  .burbuja:nth-child(5) {
    display: none;
  }
}
@media (max-width: 413px) and (min-height: 914px) {
  .image img {
    width: 200px;
  }

  .image {
    display: block;
    width: 100%;
  }
  .portada {
    flex-direction: column;
  }

  .burbuja:nth-child(3) {
    display: none;
  }
  .burbuja:nth-child(4) {
    display: none;
  }
  .burbuja:nth-child(5) {
    display: none;
  }
}

@media (max-width: 380px) and (min-height: 666px) {
  .title-writing h1 {
    font-size: 15px;
  }
  .body-writing {
    font-size: 15px;
  }
  .image img {
    width: 200px;
  }
  .image {
    display: block;
    width: 100%;
  }
  .portada {
    flex-direction: column;
  }
  .content {
    padding-top: 60px;
  }
}
@media (max-width: 780px) and (min-height: 1000px) {
  .writing .title-writing h1 {
    font-size: 50px !important;
  }
  .body-writing {
    font-size: 25px;
  }
  .image {
    display: block;
    width: 100%;
  }
  .portada {
    flex-direction: column;
  }
  .content {
    padding-top: 40px;
  }
  .image img {
    width: 400px;
  }
}
@media (max-width: 920px) and (min-height: 1360px) {
  .writing .title-writing h1 {
    font-size: 50px !important;
  }
  .body-writing {
    font-size: 25px;
  }
  .image {
    display: block;
    width: 100%;
  }
  .portada {
    flex-direction: column;
  }
  .content {
    padding-top: 40px;
  }
  .image img {
    width: 400px;
  }
}
@media (max-width: 770px) and (min-height: 630px) {
  .writing .title-writing h1 {
    font-size: 20px !important;
  }
  .body-writing {
    font-size: 15px;
  }
  .image {
    display: block;
    width: 100%;
  }
  .portada {
    width: 95%;
    flex-direction: column;
  }
  .content {
    padding-top: 40px;
  }
  .image img {
    width: 200px;
  }
  .ter,
  .cuart,
  .quin {
    display: none;
  }
  .burbuja:nth-child(3) {
    display: none;
  }

  .burbuja:nth-child(5) {
    display: none;
  }
}
@media (max-width: 290px) and (min-height: 650px) {
  .writing .title-writing h1 {
    font-size: 20px !important;
  }
  .body-writing {
    font-size: 15px;
  }
  .image {
    display: block;
    width: 100%;
  }
  .portada {
    flex-direction: column;
  }
  .content {
    padding-top: 40px;
  }
  .image img {
    width: 200px;
  }
  .ter,
  .cuart,
  .quin {
    display: none;
  }
}
@media (max-width: 1025px) and (max-height: 632px) {
  .writing .title-writing h1 {
    font-size: 20px !important;
  }
  .body-writing {
    font-size: 15px;
  }
  .image {
    display: block;
    width: 100%;
  }
  .portada {
    flex-direction: column;
  }
  .content {
    padding-top: 40px;
  }
  .image img {
    width: 200px;
  }
}
@media (min-width: 1439px) and (max-height: 632px) {
  .content {
    padding-top: 60px;
  }
}
