.welcomePart {
  width: 100%;
  height: 100vh;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.writing.title-writing h1 {
  color: rgb(3, 54, 61);
}
.body-writing {
  color: #174d4d;
}
.portada {
  z-index: 1;
}
