/* Main Div */
.welcomePart {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1675370161/metrica/fondoo_a5xb0n.jpg");
  background-size: cover;
}
/* content */
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 175px;
}

/* Portada */
.portada {
  margin: 10px 0px;
  display: flex;
  width: 80%;
}
.writing {
  width: 30%;
}
.image {
  text-align: center;
  width: 70%;
  animation: fadeInRight 1s ease-in-out;
}
.writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeInLeft 1s ease-in-out;
  width: 70%;
}
.body-writing {
  padding: 10px 0px;
  font-size: 20px;
  line-height: 2;
  width: 70%;
}
.title-writing {
  padding: 20px 0px;
}
.writing .title-writing h1 {
  font-family: "CustomFont2";
  font-size: 50px;
  color: rgb(62, 65, 62);
  letter-spacing: 10px;
  font-style: bold;
  font-variant: normal;
  font-weight: 1000;
}

/* Animations */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/
@media (max-width: 1190px) {
  .portada {
    width: 100%;
  }
  .image {
    display: none;
  }
  .writing {
    padding-left: 20px;
    width: 90%;
    height: 100%;
  }
  .welcomePart {
    height: 100vh;
    width: 100%;
  }
  .body-writing {
    text-align: center;
    width: 100%;
  }
  .title-writing {
    text-align: center;
  }
  .writing .title-writing h1 {
    font-size: 25px;
  }
}
