.caract-space {
  padding-bottom: 50px;
  text-align: center;
}
.char-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.char-pamodificar {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.char {
  margin: 20px 20px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  justify-content: center;
  align-items: center;
}
.char-image {
  padding: 10px 5px;
}
.char-text {
  text-align: center;
  padding: 20px 30px;
  line-height: 1.6;
}
.char-title {
  text-align: center;
}
.flip {
  animation: flipFade 1s ease-in-out;
  opacity: 1;
}

@keyframes flipFade {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/
@media (max-width: 1190px) {
  .char {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .char-pamodificar {
    width: 100%;
  }
}
