/*--------------------------------------------------------------
# MAIN DIV
--------------------------------------------------------------*/

.ServiciosPart {
  background-color: #fff;

  position: relative;
}
.entryTitulo {
  text-align: center;
  padding-top: 20px;
}
.content-pamodificar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------------------------------
# SERVICE WEB PART
--------------------------------------------------------------*/
.container {
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: center;
}
.content-services {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: dashed 5px rgb(40, 146, 168);
  border-bottom: dashed 5px rgb(40, 146, 168);
}
.image-content {
  width: 50%;
  text-align: center;
  padding-right: 20px;
  position: relative;
  visibility: visible;
  animation: fadeInLeft 1s ease-in-out;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  animation: fadeInRight 1s ease-in-out;
}
.text-title,
.parrafo-title {
  width: 70%;
  padding: 10px 0px;
}
.parrafo-title {
  font-size: 15px;
  line-height: 1.6;
}

/*--------------------------------------------------------------
# IMAGES - WEB PART
--------------------------------------------------------------*/
.trabajo,
.nerd,
.stonks {
  position: absolute;
}

.trabajo {
  left: 180px;
  bottom: -15px;
}
.nerd {
  right: 200px;
  bottom: 0px;
}
.stonks {
  top: -45px;
  left: 330px;
}
/*--------------------------------------------------------------
# Security Part
--------------------------------------------------------------*/

.security-service {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: dashed 5px rgb(40, 146, 168);
  border-bottom: dashed 5px rgb(40, 146, 168);
}

.img-security-content {
  text-align: left;
  padding-left: 20px;
  position: relative;
  visibility: visible;
  animation: fadeInRight 1s ease-in-out;
}
.text-security-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 1s ease-in-out;
}

/*--------------------------------------------------------------
# INFRAESTRUCTURA Part
--------------------------------------------------------------*/

.infra-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: dashed 5px rgb(40, 146, 168);
}
.image-infra-content {
  width: 50%;
  text-align: center;
  padding-right: 20px;
  position: relative;
  visibility: visible;
  animation: fadeInLeft 1s ease-in-out;
}
.text-infra-content {
  margin-left: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  animation: fadeInRight 1s ease-in-out;
}
/*--------------------------------------------------------------
# HIDDEN SETTINGS
--------------------------------------------------------------*/

.hidden-img-content {
  width: 50%;
  text-align: right;
  padding-right: 20px;
  position: relative;
  visibility: hidden;
}
.hidden-text {
  visibility: hidden;
}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  }
}
