.part-service3 {
  background-color: rgb(247, 247, 247);
}
.intro-servicio {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicio-writing {
  width: 60%;
  padding: 30px 0px;
  font-family: "CustomFont2";
  color: white;
  text-align: center;
  font-size: 30px;
}
.Servicio-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.servicio-content {
  padding: 20px 0px;
  text-align: center;
}
.list-cards-servicios2 {
  width: 90%;
  display: flex;
  position: relative;
  z-index: 1;
}
.servicio-card {
  height: 500px;
  width: 33%;
  margin: 0px 10px;
  position: relative;
  z-index: 1;
}
.add {
  position: absolute;
  width: 100px;
  height: 200px;

  border-radius: 1em;
  z-index: 0;
  top: 5%;
  left: 35%;
}
.facebook-photo {
  transform: rotate(30deg);
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1676157210/metrica/facebook-g54d1b4376_1280_regh9u.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.adorno {
  position: absolute;
  width: 60px;
  height: 50px;
  top: 5%;
  left: 35%;
}
.instagram-photo {
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1676169066/metrica/celu_ins_bqv3s1.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.twitter-photo {
  transform: rotate(-30deg);
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1676168835/metrica/twitter_xq0jjv.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.likeit {
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1676168440/metrica/me-gusta-el-corazon-de-instagram_kjnwnz.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.likeit2 {
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1676169472/metrica/pngwing.com_3_utyap7.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.likeit3 {
  background-image: url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1676169761/metrica/pngwing.com_4_k8zuv0.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.servicio-card:hover > .facebook-photo {
  z-index: 0;
  transform: translate(50px, -140px) rotate(30deg);
  transition: 0.5s ease-in-out;
}
.servicio-card:hover > .instagram-photo {
  transform: translate(0, -150px);
  transition: 0.5s ease-in-out;
}
.servicio-card:hover > .twitter-photo {
  z-index: 0;
  transform: translate(-50px, -140px) rotate(-30deg);
  transition: 0.5s ease-in-out;
}
.servicio-card:hover > .likeit3 {
  transform: translate(-100px, -180px) rotate(-30deg);
  transition: 0.5s ease-in-out;
}
.servicio-card:hover > .likeit2 {
  transform: translate(140px, -190px) rotate(30deg);
  transition: 0.5s ease-in-out;
}
.servicio-card:hover > .likeit {
  transform: translate(20px, -210px);
  transition: 0.5s ease-in-out;
}
.card-service-content {
  text-align: center;
  padding: 30px 10px;
  color: white;
  font-size: 25px;
  height: 70%;
  position: relative;
  z-index: 1;
}
.marketing {
  background-image: linear-gradient(
      rgba(63, 59, 59, 0.5),
      rgba(75, 73, 73, 0.5)
    ),
    url("../../../images/marketing.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 1;
  position: relative;
}

.card-service-button {
  display: none;
  height: 30%;
  display: flex;
  margin-left: 30px;
  padding: 10px 0px;
  color: white;
}

.card-service-button a button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  padding: 1px 3px;
  margin-left: 10px;
}
.web-desing {
  background-image: linear-gradient(
      rgba(63, 59, 59, 0.5),
      rgba(75, 73, 73, 0.5)
    ),
    url("../../../images/diseño.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.graphic-design {
  background-image: linear-gradient(
      rgba(63, 59, 59, 0.5),
      rgba(75, 73, 73, 0.5)
    ),
    url("../../../images/graphic.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.servicio-title h2 {
  padding: 10px 0px;
}

@media (max-width: 1080px) {
  .list-cards-servicios2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .servicio-card {
    width: 80%;
    margin: 10px 0px;
  }
  .servicio-writing {
    width: 9 0%;
    font-size: 25px;
  }
}
