/*--------------------------------------------------------------
# MAIN DIV
--------------------------------------------------------------*/

.ServiciosPart {
  background-color: #fff;
  height: 70vh;
}
/*--------------------------------------------------------------
# SERVICE WEB PART
--------------------------------------------------------------*/
.container {
  width: 80%;
  height: 100%;
}
.content-services {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-content {
  width: 50%;
  text-align: right;
  padding-right: 20px;
  position: relative;
  visibility: visible;
  animation: fadeInLeft 1s ease-in-out;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInRight 1s ease-in-out;
}
.text-title,
.parrafo-title {
  width: 70%;
  padding: 10px 0px;
}
.parrafo-title {
  font-size: 15px;
  line-height: 1.6;
}

/*--------------------------------------------------------------
# IMAGES - WEB PART
--------------------------------------------------------------*/
.trabajo,
.nerd,
.stonks {
  position: absolute;
}

.trabajo {
  right: 260px;
  bottom: -15px;
}
.nerd {
  right: 30px;
  bottom: 0px;
}
.stonks {
  top: -45px;
  right: 150px;
}
/*--------------------------------------------------------------
# Security Part
--------------------------------------------------------------*/

.security-service {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-security-content {
  text-align: left;
  padding-left: 20px;
  position: relative;
  visibility: visible;
  animation: fadeInRight 1s ease-in-out;
}
.text-security-content {
  margin-left: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 1s ease-in-out;
}

/*--------------------------------------------------------------
# HIDDEN SETTINGS
--------------------------------------------------------------*/

.hidden-img-content {
  width: 50%;
  text-align: right;
  padding-right: 20px;
  position: relative;
  visibility: hidden;
}
.hidden-text {
  visibility: hidden;
}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  }
}
