.header {
  display: flex;
  padding: 10px 0px;
  border: none;
}
.icon {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
.titulo {
  padding-left: 10px;
  font-size: 20px;
}
.pest {
  width: 40%;
}
.enlaces {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}
.navbar > li {
  cursor: pointer;
  display: block;
  display: flex;
  align-items: center;
}

/* DESPLIEGUE DEL SUBMENU */

li:hover > .submenu > li {
  display: block;
  padding: 10px 5px;
}

li:hover > .submenu {
  display: block;
  padding: 5px;
  width: 200px;
  height: max-content;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: fadeInUp 0.5s;
}

/* SUBMENU*/

.submenu > li:hover {
  background-color: grey;
}
.submenu {
  animation: fadeOut 0.5s;
  position: absolute;
  list-style: none;
  width: 0px;
  height: 0px;
  height: max-content;
  top: 50px;
  background-color: #ffff;
}
.submenu > li {
  display: none;
  border-radius: 0.5em;
}
/* SVG ICON DROPDOWN */
li:hover > svg {
  transform: rotateX(180deg);
  transition: 0.5s;
}

p > span {
  padding-top: 8px;
}
.buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.login {
  padding: 20px 10px;
  border-radius: 0.5em;
  border: none;
  transition: 0.4s;
}
.login:hover {
  background-color: rgb(0, 161, 241);
  cursor: pointer;
  color: white;
}
/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}
@keyframes boxShadow {
  0% {
    background: transparent;
    box-shadow: 0;
  }
  100% {
    background-color: white;
    box-shadow: 20px 15px 5px -15px #111;
  }
}

@keyframes toTransparent {
  0% {
    background-color: white;
    box-shadow: 20px 15px 5px -15px #111;
  }
  100% {
    background: transparent;
    box-shadow: 0;
  }
}
/*--------------------------------------------------------------
# HEADER STICKY 
--------------------------------------------------------------*/
.notSticky {
  box-shadow: 0;
  background: transparent;
  animation: toTransparent 0.5s ease-in-out;
}
.sticky {
  background-color: white;
  animation: boxShadow 0.5s ease-in-out;
  box-shadow: 20px 15px 5px -15px #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
