.footer {
  background-color: rgb(50, 48, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot-content-container {
  width: 80%;

  height: 100%;
}
.footer-content > div {
  width: 100%;
}
.footer-content {
  display: flex;

  padding: 50px 0px;
}
.footer-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-column {
  border-right: 5px solid white;
}
.contact-column {
  color: white;
}
.footer-id-content {
  line-height: 1.6;
  width: 80%;
}
.contact {
  padding: 20px 0px;
  text-align: center;
}
.email-contact {
  padding: 30px 0px;
}
.social-buttons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.info-tel {
  padding-bottom: 10px;
  font-size: 18px;
}
.place,
.footer-info-contact {
  padding-bottom: 10px;
  font-size: 18px;
}
.btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0.5px black;
  background-color: white;
}
.btn-link {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0.5px black;
  background-color: white;
  border: none;
  margin: 0px 10px;
}
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }
  .image-column {
    border: none;
    margin-bottom: 20px;
  }
}
