a {
  text-decoration: none;
  color: black;
}
.homepage-container {
  position: relative;
}
.icon-whatsapp {
  position: fixed;
  top: 850px;
  left: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.action {
  width: 135px;
  padding: 8px 15px;
  text-align: right;
  background-color: rgb(47, 206, 70);
  color: white;
  border: 2px solid white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.action a {
  color: white;
  padding-left: 10px;
}
.images-icon-wpp {
  position: relative;
}
.images-icon-wpp a {
  position: absolute;
  top: -25px;
  left: -10px;
}
.images-icon-wpp a img {
  border: 2px solid white;
  border-radius: 50%;
}
@media (max-width: 450px) {
  .action {
    display: none;
  }
  .icon-whatsapp {
    top: calc(100vh - 150px);
    left: 15px;
  }
}
h1 {
  font-family: "CustomFont2";
}
