body {
  font-family: "CustomFont";
}
@font-face {
  font-family: "CustomFont";
  src: url("./components/fonts/izmir.otf");
}
* {
  padding: 0;
  margin: 0;
}
html {
  background-repeat: no-repeat;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(44, 146, 193);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 112, 161);
}
