body {
  font-family: "CustomFont";

  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: "CustomFont";
  src: url("./components/fonts/izmir.otf");
}
* {
  padding: 0;
  margin: 0;
}
html {
  background-repeat: no-repeat;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
